
ion-button{
  display: inline-block;
  text-align: center;
  width: 100%;


}

ion-toolbar {
  display: flow;
}

ion-img{

}

#logo{
  width: 10%;
  height: 10%;
  display: flow;
  text-align: center;


}

ion-card {

}

ion-content{
  text-align: center;
}

